<div class="static-page-container">
  <div class="static-page-content content">
    <h1 class="title is-3">404</h1>
    <p>Woops! We couldn't find the page you were looking for.</p>
    <%= link_to("Return home", root_path, class: "button is-info") %>
  </div>
</div>
