<div class="static-page-container">
  <div class="static-page-content content">
    <h1 class="title is-3">500</h1>
    <p>Woops! Something went wrong.</p>
    <%= link_to("Return home", root_path, class: "button is-info") %>
  </div>
</div>
