.card-details-container {
  display: flex;
  justify-content: center;
  .card-details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 625px;
    min-height: 200px;
    background-color: $card-background;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 9px;
    margin: 40px 12px 12px 12px;
    padding: 12px;
    position: relative;
    .english-text,
    .kana-text,
    .kanji-text {
      font-size: 2em;
    }
    .audio-sample {
      .play-audio-sample-button {
        margin: 6px 0px;
      }
    }
    .card-edit-button {
      position: absolute;
      bottom: 8px;
      right: 10px;
      opacity: 0.7;
    }
  }
}

.all-cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .all-cards-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    .edit-column {
      width: 60px;
      text-align: center;
      .small-header {
        display: none;
      }
    }
    .edit-card-cell {
      text-align: center;
    }
    @media screen and (max-width: $navbar-breakpoint) {
      padding: 10px;
      .edit-column {
        width: 20px;
        padding-left: 10px;
        padding-right: 10px;
        .large-header {
          display: none;
        }
        .small-header {
          display: block;
        }
      }
      .edit-card-cell {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.audio-sample-upload {
  margin-top: 15px;
}

.edit-resource {
  .current-audio-sample {
    display: flex;
    flex-direction: row;
    align-items: center;
    .play-audio-sample-button {
      margin: 0px 10px;
    }
  }
  .decks-list {
    margin-top: 40px;
    width: 100%;
    max-width: 700px;
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      color: #4a4a4a;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .edit-column,
    .included-in-deck-column {
      width: 60px;
      text-align: center;
    }
    .edit-deck-cell,
    .included-in-deck-cell {
      text-align: center;
      input {
        height: 18px;
        width: 18px;
        margin-top: 3px;
      }
    }
  }
}

.cards-report {
  .cards-not-in-decks {
    .cards-list {
      .edit-column {
        width: 60px;
        text-align: center;
        .small-header {
          display: none;
        }
      }
      .edit-card-cell {
        text-align: center;
      }
      @media screen and (max-width: $navbar-breakpoint) {
        padding: 10px;
        .edit-column {
          width: 20px;
          padding-left: 10px;
          padding-right: 10px;
          .large-header {
            display: none;
          }
          .small-header {
            display: block;
          }
        }
        .edit-card-cell {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
