.deck-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .deck-name {
    margin: 24px 0px;
    color: $dark-text-color;
  }
  .card-interaction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    .next-card {
      width: 95%;
      max-width: 600px;
      background-color: $card-background;
      box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
      border-radius: 9px;
      height: 30px;
      margin-bottom: -18px;
      padding-top: 18px;
    }
    .deck-show-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      max-width: 625px;
      min-height: 200px;
      background-color: $card-background;
      box-shadow: $shallow-box-shadow;
      border-radius: 9px;
      margin: 0px 12px 12px 12px;
      padding: 12px;
      position: relative;
      .card-edit-button {
        position: absolute;
        top: 6px;
        right: 10px;
        opacity: 0.7;
      }
      .english-text {
        font-size: 2em;
        display: none;
      }
      .kana-text {
        font-size: 2em;
        display: none;
      }
      .audio-sample {
        display: none;
        .play-audio-sample-button {
          margin-top: 6px;
        }
      }
    }
    .deck-controls {
      display: flex;
      .flip-card-button {
        margin: 0px 10px;
      }
    }
    .move-card-controls {
      margin-top: 50px;
      .select {
        select { padding: 6px 32px 6px 10px; }
        &::after { right: 12px; }
      }
      .move-card-button {
        padding: 7px 12px;
      }
    }
  }
}

.all-decks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .all-decks-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    .edit-column {
      width: 60px;
      text-align: center;
      .small-header {
        display: none;
      }
    }
    .edit-deck-cell {
      text-align: center;
    }
    @media screen and (max-width: $navbar-breakpoint) {
      padding: 10px;
      .edit-column {
        width: 20px;
        padding-left: 10px;
        padding-right: 10px;
        .large-header {
          display: none;
        }
        .small-header {
          display: block;
        }
      }
      .edit-deck-cell {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.edit-resource {
  .edit-deck-form,
  .shuffle-deck-form {
    display: inline;
    .actions {
      .view-deck-button {
        margin-right: -1px;
      }
      display: inline-block;
      margin-top: 2px;
    }
  }
  .more-deck-actions {
    margin-top: 40px;
    width: 100%;
    max-width: 700px;
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      color: #4a4a4a;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .current-card-count {
      margin-bottom: 10px;
    }
  }
}

.sort-cards {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .cards-list {
    margin-top: 0px;
    width: 100%;
    max-width: 700px;
    .header-container {
      margin-top: 10px;
      margin-bottom: 12px;
      display: flex;
      align-items: flex-end;
      .title {
        font-size: 1.6rem;
        font-weight: 700;
        color: #4a4a4a;
        display: inline-flex;
        margin: 0px 10px 0px 0px;
      }
      .back-button {
        height: 25px;
      }
    }
  }
}

label.checkbox {
  display: flex;
  align-items: center;
  .randomized-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
}
