.deck-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .deck-name {
    margin: 24px 0px;
    color: $dark-text-color;
  }
  .specify-difficulty {
    font-size: 1.6rem;
    font-weight: 700;
    color: #4a4a4a;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .actions {
    display: inline-block;
    .shuffle-deck-form {
      display: inline-block;
    }
  }
}

.deck-study-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-interaction-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    .deck-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      max-width: 625px;
      min-height: 240px;
      background-color: $card-background;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      border-radius: 9px;
      margin: 0px 12px 12px 12px;
      padding: 12px;
      position: relative;
      .flip-card-button-container {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 6px;
        left: 0;
        right: 0;
        width: 80px;
        height: 25px;
        user-select: none;
        cursor: pointer;
        .flip-card-button {
          text-align: center;
          width: 100%;
          height: 100%;
        }
      }
      .card-options-button {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 7px;
        opacity: 0.7;
      }
      .deck-progress {
        user-select: none;
        position: absolute;
        top: 4px;
        right: 36px;
      }
      .english-text,
      .kana-text,
      .kanji-text {
        margin: 0px 26px;
        font-size: 2em;
        display: none;
      }
      .audio-sample {
        display: none;
        .play-audio-sample-button {
          margin-top: 6px;
        }
      }
      .next-card-form {
        position: absolute;
        right: 0px;
        opacity: 0.7;
      }
      .previous-card-form {
        position: absolute;
        left: 0px;
        opacity: 0.7;
      }
      .card-edit-button {
        position: absolute;
        bottom: 8px;
        right: 11px;
        opacity: 0.7;
        display: none;
      }
      .card-options {
        display: none;
        .card-difficulty-label {
          font-size: 1.2em;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.all-decks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .all-decks-card {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 20px;
    background-color: $card-background;
    box-shadow: $deep-box-shadow;
    width: 90%;
    max-width: 930px;
    min-height: 88vh;
    border-radius: 3px;
    .edit-column {
      width: 60px;
      text-align: center;
      .small-header {
        display: none;
      }
    }
    .edit-deck-cell {
      text-align: center;
    }
    @media screen and (max-width: $navbar-breakpoint) {
      padding: 10px;
      .edit-column {
        width: 20px;
        padding-left: 10px;
        padding-right: 10px;
        .large-header {
          display: none;
        }
        .small-header {
          display: block;
        }
      }
      .edit-deck-cell {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.edit-resource {
  .edit-deck-form,
  .shuffle-deck-form {
    display: inline;
    .actions {
      .view-deck-button {
        margin-right: -1px;
      }
      display: inline-block;
      margin-top: 2px;
    }
  }
  .more-deck-actions {
    margin-top: 40px;
    width: 100%;
    max-width: 700px;
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      color: #4a4a4a;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .current-card-count {
      margin-bottom: 10px;
    }
    .select {
      margin-bottom: 5px;
    }
  }
}

.sort-cards {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .cards-list {
    margin-top: 0px;
    width: 100%;
    max-width: 700px;
    .header-container {
      margin-top: 10px;
      margin-bottom: 12px;
      display: flex;
      align-items: flex-end;
      .title {
        font-size: 1.6rem;
        font-weight: 700;
        color: #4a4a4a;
        display: inline-flex;
        margin: 0px 10px 0px 0px;
      }
      .back-button {
        height: 25px;
      }
    }
  }
}

label.checkbox {
  display: flex;
  align-items: center;
  .randomized-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
}
