<div class="all-cards-container">
  <div class="all-cards-card">
    <table class="table is-fullwidth is-hoverable is-striped">
      <p class="has-text-grey-light all-cards-count is-pulled-right">
        <small>There are currently <%= @cards.size %> cards in the app</small>
      </p>
      <thead>
        <tr>
          <th>English</th>
          <th class="edit-column">
            <span class="large-header">Decks</span>
            <span class="icon is-small small-header">
              <i class="fas fa-layer-group"></i>
            </span>
          </th>
          <th class="edit-column">
            <span class="large-header">Edit</span>
            <span class="icon is-small small-header">
              <i class="fas fa-edit"></i>
            </span>
          </th>
          <th class="edit-column">
            <span class="large-header">Delete</span>
            <span class="icon is-small small-header">
              <i class="fas fa-trash"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: 'cards/card', collection: @cards, cached: true) %>
      </tbody>
    </table>
  </div>
</div>
