<div class="card-details-container">
  <div class="card-details-card">
    <div class="english-text"><%= @card.english %></div>
    <div class="kana-text"><%= @card.kana %></div>
    <% if @card.audio_sample.attached? %>
      <div class="audio-sample">
        <audio controls>
          <source src="<%= rails_blob_path(@card.audio_sample, disposition: "attachment") %>" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>
      </div>
    <% end %>
  </div>
</div>
