<div class="all-decks-container">
  <div class="all-decks-card">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>Deck Name</th>
          <th class="edit-column">
            <span class="large-header">Cards</span>
            <span class="icon is-small small-header">
              <i class="fas fa-sticky-note"></i>
            </span>
          </th>
          <th class="edit-column">
            <span class="large-header">Edit</span>
            <span class="icon is-small small-header">
              <i class="fas fa-edit"></i>
            </span>
          </th>
          <th class="edit-column">
            <span class="large-header">Delete</span>
            <span class="icon is-small small-header">
              <i class="fas fa-trash"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: 'decks/deck', collection: @decks, cached: true) %>
      </tbody>
    </table>
  </div>
</div>
